/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* Variables */
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);


/* Base styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  color: $very-dark-violet;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: $dark-grayish-violet;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.line {
  width: 30%;
  height: 2px;
  background-color: $very-light-gray;
  opacity: 0.7;
  margin-bottom: 4em;
}

.btn {
  color: $very-light-gray;
  background-color: transparent;
  padding: 0.7em 2em;
  transition: all 160ms ease;
  border: 1px solid $very-light-gray;

  &:hover {
    color: $dark-violet;
    background-color: $very-light-gray;
  }
}


/* HEADER */
header {
  padding: 2em 0;
  position: relative;
  z-index: 9999999;
  background-color: #fff;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu {
    display: flex;

    a.btn {
      color: $very-dark-violet !important;
      border-color: $very-dark-violet !important;
  
      :hover {
        color: $very-light-gray;
        background-color: $very-dark-violet;
      }
    }

    .header-menu-item:not(:last-child) {
      margin-right: 1em;
    }
  }

  .menu-btn {
    display: none;
  }
}


/* HERO SECTION */
#hero {
  background-color: $dark-violet;
  padding-top: 7em;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .hero-left {
    flex: 0.6;
    padding-right: 3em;
    margin-bottom: 3em;
  }

  .hero-right {
    flex: 0.4;
    margin-bottom: -7em;
    
    img {
      width: 100%;
    }
  }

  .hero-title {
    font-size: 4rem;
    line-height: 4rem;
    color: $very-light-gray;
    margin-bottom: 0.3em;
  }

  .hero-description {
    color: $very-light-gray;
    line-height: 1.7;
    margin-bottom: 3em;
  }

  .bg-pattern-intro-left {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/bg-pattern-intro-left-desktop.svg');
    background-repeat: no-repeat;
  }

  .bg-pattern-intro-right {
    position: absolute;
    top: -0.3em;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/bg-pattern-intro-right-desktop.svg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    z-index: 10;
  }
}


/* FEATURES SECTION */
#features {
  padding-top: 14em;
  padding-bottom: 10em;

  .line {
    background-color: $dark-violet;
    opacity: 0.24;
    width: 14%;
    margin-bottom: 2em;
  }

  .section-title {
    font-size: 4rem;
    margin-bottom: 1em;
  }

  .feature-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8em;
  }

  .feature-item {
    max-width: 360px;
    flex-grow: 1;

    .item-icon {
      margin-bottom: 2em;
    }

    .item-title {
      font-size: 1.7rem;
      margin-bottom: 0.6em;
    }

    .item-description {
      color: $dark-grayish-violet;
    }
  }


  .cta {
    background-image: url('./images/bg-pattern-how-we-work-desktop.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-color: $dark-violet;
    padding: 4em 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .cta-title {
      font-size: 3rem;
      max-width: 430px;
      color: $very-light-gray;
    }
  }
}


/* FOOTER */
footer {
  padding: 4em 0 2em 0;
  background-image: url('./images/bg-pattern-footer-desktop.svg');
  background-repeat: no-repeat;
  background-color: $very-light-gray;

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    .social-menu {
      display: flex;

      .social-menu-item:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;

    .footer-title {
      margin-bottom: 1em;
      font-family: 'Karla', sans-serif;
      font-weight: 700;
      color: $dark-grayish-violet;
    }

    .footer-menu {
      
      .footer-menu-item {
        margin-bottom: 1em;

        a {
          color: $dark-violet;
          font-weight: 700;
          transition: all 120ms ease;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .attribution {
    padding-top: 6em;
    text-align: center;
    color: $dark-grayish-violet;

    a {
      color: $dark-violet;
      text-transform: unset;
    }
  }
}


/* Responsiveness */

@media only screen and (max-width: 1200px) {
  header .container,
  #features .container,
  footer .container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 780px) {

  header {

    .container {
      flex-direction: column;
    }

    .menu-container {
      display: none;
      width: 100%;
      height: 100vh;
      background-color: $very-dark-violet;
      margin-top: 2em;

      &.active {
        display: block;
      }
    }

    .logo {
      display: flex;
      justify-content: space-between;
      width: 90%;

      .menu-btn {
        display: block;
      }
    }

    .header-menu {
      display: block;
      text-align: center;
      padding-top: 4em;

      .header-menu-item {
        a {
          font-size: 1.4rem;
          color: $very-light-gray;
        }

        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 2em;
        }
      }
    }
  }

  #hero {
    padding-top: 0;

    .container {
      flex-direction: column-reverse;
    }

    .hero-left {
      padding: 6em 2em;
      text-align: center;
    }
  
    .hero-right {
      margin-bottom: 0;
    }
  
    .line {
      display: none;
    }

    .bg-pattern-intro-left {
      background-image: url('./images/bg-pattern-intro-left-mobile.svg');
    }
  
    .bg-pattern-intro-right {
      background-image: url('./images/bg-pattern-intro-right-mobile.svg');
    }
  }

  #features {
    padding: 4em 0;
    text-align: center;

    .line {
      width: 40%;
      margin: 0 auto 3em auto;
    }

    .feature-items {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .feature-item:not(:last-child) {
      margin-bottom: 6em;
    }

    .cta {
      background-image: url('./images/bg-pattern-how-we-work-mobile.svg');
      justify-content: center;
    }

    .cta-title {
      font-size: 2.3rem;
      margin-bottom: 1.4em;
    }
  }

  footer {
    padding-bottom: 2em;

    .container {
      max-width: 90%;
    }

    .footer-top {
      flex-direction: column;
      justify-content: center;

      .logo {
        margin-bottom: 2em;
      }
    }

    .footer-bottom {
      flex-direction: column;
      text-align: center;
    }

    .footer-title {
      margin-bottom: 3em;
    }

    .footer-menu {
      margin-bottom: 3em;
    }
  }
}